@model (int ID, int Value1, int Value2, int Value3, int Value4) 
@{
    ViewBag.Title = "ValueTuple Kullanımı";
}

<h2>@ViewBag.Title</h2>

<p>ID: @Model.ID</p>
<p>Value1: @Model.Value1</p>
<p>Value2: @Model.Value2</p>
<p>Value3: @Model.Value3</p>
<p>Value4: @Model.Value4</p>
